:root {
  --root-color: rgba(255, 255, 255, 0.87);
  --root-background-color: #242424;

  font-family: 'Viaoda Libre', cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--root-color);
  background-color: var(--root-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
}

#app {
  display: flex;
  min-height: 100vh;  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.full-height {
  flex-grow: 1;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center
}

.background-pattern {
    --pattern-size: 12px;
    background-color: #F9F7FF30;
	  background-image: linear-gradient(135deg, #ff01f3 25%, transparent 25%),linear-gradient(315deg, #df11cb 25%, transparent 25%),linear-gradient(225deg, #292b34 25%, transparent 25%),linear-gradient(45deg, #000000 25%, transparent 25%);
	  /* background-position: var(--pattern-size) 0, var(--pattern-size) 0, 0 0, 0 0;
	  background-size: calc(var(--pattern-size)*2) calc(var(--pattern-size)*2);
	  background-repeat: repeat; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.4em;
  }
}
